// -----------------------------------------------------------------------------
// This file all external fonts
// -----------------------------------------------------------------------------
// Open Sans

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  src: local("OpenSans-Light"),
    url(../fonts/opensans/OpenSans-Light.ttf) format('ttf')
} 
@font-face {
  font-family: "Open Sans";
  font-weight: 500;
  src: local("OpenSans-Regular"),
    url(../fonts/opensans/OpenSans-Regular.ttf) format('ttf')
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: local("OpenSans-Bold"),
    url(../fonts/opensans/OpenSans-Bold.ttf) format('ttf')
}
