html {
    overflow: scroll;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
    width: 0px;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}


/* Optional: show position indicator in transparent */

::-webkit-scrollbar-thumb {
    background: transparent;
}